.hidden {
	display: none;
}

.sv-graphexp mat-sidenav-container {
	width: 100%;
}
.sv-graphexp mat-sidenav {
	padding: 1em;
	width: 25em;
}
.sv-graphexp mat-divider {
	padding: 5px 0;
}

div.sv-graphexp {
	height: 100%;
} 

.sv-graphexp-content {
	padding: 1em;
	position: relative;
	top: 0;
	height: 100%;
}

.sv-graphexp-left-bar {
	position: absolute;
	top: 0;
	width: 10em;
}

.sv-graphexp-right-bar {
	position: absolute;
	top: 0;
	right: 0;
	width: 10em;
}

path.drag-line {
    fill: none;
    stroke: #333;
    stroke-width: 4px;
    stroke-dasharray: 5 5;
    cursor: default;
}

.edge {
	stroke: #999;
	stroke-opacity: 0.8;
}

.old_edge0 {
	stroke: #999;
	stroke-opacity: 0.6;
}

.node circle {
	stroke: #000;
	stroke-width: 1.5px;
}

.node text {
	font: 10px sans-serif;
}

.node:hover circle {
	stroke-opacity: 0.6;
}

.pinned circle {
	stroke: #000;
	stroke-width: 1.5px;
}

.pinned text {
	font: 10px sans-serif;
}

.pinned:hover circle {
	stroke-opacity: 0.6;
}

.old_node0 circle {
	stroke-opacity: 0.9;
}

.old_node0 text {
	font: 10px sans-serif;
	opacity: 0.9;
	color: #000; /* Fallback for older browsers */
	color: rgba(0, 0, 0, 0.5);
}

.cell {
	fill: none;
	pointer-events: all;
}