
<div id="sv_graphexp_container">
	<nav>
		<fieldset>
			<legend>Navigation</legend>
			<label>Property</label>
			<select [(ngModel)]="searchField">
				<option value="id">id</option>
				<optgroup label="Node">
					<option *ngFor="let item of nodeProperties | async" [value]="item">{{item}}</option>
				</optgroup>
				<optgroup label="Edge">
					<option *ngFor="let item of edgeProperties | async" [value]="item">{{item}}</option>
				</optgroup>
			</select>
			<label>Id/Keyword</label>
			<input name="searchValue" [(ngModel)]="searchValue" />
			<button class="mat-raised-button" (click)="search()">Search</button>
			<button class="mat-raised-button" name="clear" (click)="clearGraph()">Clear</button>
			<input type="checkbox" name="Freeze" id="freeze-in" /><label>Freeze</label>
			<input type="checkbox" name="showName_box" id="showName" (click)="showNames()"/><label>Show Labels</label>
			<input type="number" id="nbLayers" min="1" max="128" (click)="setNumberOfLayers()" [(ngModel)]="numberOfLayers"><label>Visible Layers</label>
		</fieldset>
		
	</nav>
	
	<div class="sv-graphexp-content">
		<div class="sv-graphexp-left-bar">
			<div>
				<button class="mat-raised-button" name="graphInfo" (click)="getGraphInfo()">Refresh graph info</button>
				<input type="checkbox" [(ngModel)]="showGraphInfo" (click)="toggleGraphInfo()"/>Show/hide graph info
				<div *ngIf="showGraphInfo"><br/>
					<strong>Node Names</strong>
					<div *ngFor="let item of nodeNames | async">
						{{item.key}}: {{item.value}}
					</div>
				</div>
			</div>
		</div>
		<div class="sv-graphexp-right-bar">
			<strong>Selected Node</strong>
				<div *ngIf="selectedNode">
					<div>Label: {{selectedNode.label}}</div>
					<div>Type: {{selectedNode.type}}</div>
					<div *ngFor="let prop of getFlattenedNodeProperties(selectedNode)">
						<div>{{prop.name}}: {{prop.value}}</div>
					</div>
				</div>
		</div>
		
		<div class="sv-graphexp" id="sv_graphexp">
			<svg></svg>
		</div>
	</div>
</div>

